./                                                
'Cisco Webex Meetings.lnk'*           
'New folder'/              
'bin - Shortcut.lnk'*    
html/                         
practise/    
solution.java
../                                               
'Desktop - Shortcut.lnk'*              
NewFolder/                
'dec invioce 2021.pdf'   
java/                         
1.jpg                                             
'Hard Disk Sentinel.lnk'*              
Resume_Venkatesh.doc       
desktop.ini            
'java script.code-workspace'   
python1.py
'Apply for a U.S. Visa _ Receipt for Payment.pdf'  
'MURALI CV.doc'                       
'SOP Venkatesh.docx'        
employeepayrollapp/     
javascriptvs/                 
python2.py                                    
'Ashok CV.doc'                                     
'New Microsoft Excel Worksheet.xlsx'  
'Visual Studio Code.lnk'*   
forms/                  
payroll/                      
sdf/
